<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表 - 2023 六角學院 Vue 直播班 - 第四週作業</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" v-cloak>
        <template v-if="isLoading">
            <Loader></Loader>
        </template>
        <div class="container my-3" v-if="products.length">
            <nav class="navbar">
                <div class="container-fluid pb-3">
                    <h2>產品列表</h2>
                    <div class="d-flex gap-2">
                        <div class="border rounded-2 px-3 py-2">
                            <div class="form-check form-switch">
                                <label for="devMode" class="form-check-label">除錯模式</label>
                                <input type="checkbox" role="switch" class="form-check-input" id="devMode" v-model="isDevMode">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" @click="logout">登出</button>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="alert bg-light" v-if="isDevMode">{{ tempProduct }}</div>
                <!-- 分頁 -->
                <div class="d-flex justify-content-between align-items-center py-3">
                    <button type="button" class="btn btn-secondary mb-3"
                            @click="openModal('create')" :disabled="isButtonDisabled">建立新的產品</button>
                    <div class="d-flex">
                        <div class="me-3 mb-3" style="width: 200px">
                        每頁顯示 <input type="number" style="width: 60px" class="d-inline-block form-control mx-2" v-model.lazy.number="pageLimit" min="1" max="10"> 筆資料
                        </div>
                        <Pagination :pages="pages" :current-page="currentPage" @switch-page="switchPage"></Pagination>
                    </div>
                </div>
                <!-- 列表 -->
                <table class="table align-middle mb-3">
                    <thead>
                        <tr>
                            <th width="10%">分類</th>
                            <th width="40%">產品名稱</th>
                            <th width="10%">
                                <a href="#" class="text-decoration-none" @click.prevent="sort('origin_price')">
                                <div class="d-flex justify-content-end align-items-center">
                                原價
                                <span class="material-icons fs-5">swap_vert</span>
                                </div>
                                </a>
                            </th>
                            <th width="10%">
                                <a href="#" class="text-decoration-none" @click.prevent="sort('price')">
                                <div class="d-flex justify-content-end align-items-center">
                                售價
                                <span class="material-icons fs-5">swap_vert</span>
                                </div>
                                </a>
                            </th>
                            <th class="text-center" width="15%">是否啟用</th>
                            <th class="text-center" width="15%">編輯</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in sortedProducts" :key="product.id">
                            <td>
                            <span class="badge bg-secondary py-2">{{ product.category }}</span>
                            </td>
                            <td>
                            <a href="#" @click.prevent="displayContent(product)">{{ product.title }}</a>
                            <div class="float-end">
                                <div class="d-flex gap-2" v-if="product.tags">
                                    <span class="badge bg-light px-3 py-2 text-muted" v-for="tag in product.tags" :key="tag">＃{{ tag }}</span>
                                </div>
                            </div>
                            </td>
                            <td class="text-end"><span class="pe-2">{{ product.origin_price }}</span></td>
                            <td class="text-end"><span class="pe-2">{{ product.price }}</span></td>
                            <td class="text-center">
                            <span :class="product.is_enabled ? 'text-success' : 'text-danger'">{{ product.is_enabled ? '已啟用' : '未啟用' }}</span>
                            </td>
                            <td class="text-center">
                            <button type="button" class="btn btn-outline-secondary me-2" @click="openModal('edit', product)">編輯</button>
                            <button type="button" class="btn btn-outline-danger" @click="openModal('remove', product)">刪除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 展示 -->
                <template v-if="display.title">
                    <div class="card overflow-hidden rounded-2">
                        <div class="row">
                            <div class="col-5">
                                <div class="text-center">
                                    <img :src="display.imageUrl" :alt="display.title" class="card-img rounded-0 mb-3">
                                    <div class="d-flex gap-3 overflow-hidden oveflow-x-scroll">
                                    <img class="display-img" v-for="img in display.imagesUrl" :key="img" :src="img" :alt="display.title" @click="display.imageUrl = img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-7 ps-0">
                                <div class="p-4 h-100 d-flex flex-column justify-content-between">
                                    <div>
                                        <h3 class="fw-bold mb-4">
                                        {{ display.title }}
                                        <a href="#" class="float-end text-dark text-decoration-none" @click.prevent="display = {}">
                                        <span class="material-icons">clear</span></a>
                                        </h3>
                                        <p class="text-muted fs-6">
                                        <span class="badge bg-secondary px-3 me-3">{{ display.category }}</span>
                                        <span>{{ display.content }}</span>
                                        </p>
                                        <p>{{ display.description }}</p>
                                        <div class="d-flex gap-2" v-if="display.tags">
                                        <span class="badge bg-light px-3 py-2 text-muted" v-for="tag in display.tags" :key="tag">＃{{ tag }}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0">NT$ 
                                        <span class="text-muted me-2" :class="{ 'text-decoration-line-through': display.origin_price !== display.price }">{{ display.origin_price }}</span>
                                        <span>{{ display.price }} 元 ／ {{ display.unit }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <product-modal
            :button-status="isButtonDisabled"
            :product-tags="productTags"
            :temp-product="tempProduct"
            :dev-mode="isDevMode"
            @init-product-modal="initProductModal"
            @save-product="saveProduct"></product-modal>
        <confirm-modal 
            :button-status="isButtonDisabled"
            :temp-product="tempProduct"
            @init-confirm-modal="initConfirmModal"
            @remove-product="removeProduct"></confirm-modal>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js' integrity='sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js' integrity='sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.10.3/sweetalert2.all.min.js' integrity='sha512-1RuT3Xs+fbL5f+4MCot2I8PpBFRu4flycFf5s2x4PoBMTKbPgHBEEwQ1LovEIhrMaR3S8bJfnlBTbWJbKdj8Fg==' crossorigin='anonymous'></script>
    <script src="./index.js" type="module"></script>
</body>
</html>